name: Update Homebrew Formula

on:
  repository_dispatch:
    types: [update-homebrew]  # Listens for the trigger event
  workflow_dispatch:  # Allows manual triggering of the workflow
    inputs:
      manual_trigger:
        description: "Manually trigger Homebrew update"
        required: false
        default: "true"

jobs:
  update-formula:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> ~/.bashrc
          echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> ~/.profile
          echo "PATH=$PATH" >> $GITHUB_ENV

      - name: Verify Homebrew Installation
        run: |
          export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
          brew --version

      - name: Get Latest Netlas Version
        id: get_version
        run: |
          LATEST_VERSION=$(curl -s https://pypi.org/pypi/netlas/json | jq -r '.info.version')
          echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV
          echo ${{ env.LATEST_VERSION }}
      
      - name: Get Source URL from PyPI
        id: get_source_url
        run: |
          PYPI_JSON=$(curl -s https://pypi.org/pypi/netlas/json)
          SOURCE_URL=$(echo "$PYPI_JSON" | jq -r '.urls[] | select(.packagetype == "sdist") | .url')
          SHA256=$(curl -sL $SOURCE_URL | sha256sum | cut -d ' ' -f 1)
          echo "SOURCE_URL=$SOURCE_URL" >> $GITHUB_ENV
          echo ${{ env.SOURCE_URL }}
          echo "SHA256=$SHA256" >> $GITHUB_ENV
          echo ${{ env.SHA256 }}

      - name: Extract Python Version from Formula
        id: get_python_version
        run: |
          PYTHON_VERSION=$(grep -o 'python@[0-9]\+\.[0-9]\+' Formula/netlas.rb | head -n 1 | cut -d '@' -f 2)
          echo "PYTHON_VERSION=$PYTHON_VERSION" >> $GITHUB_ENV

      - name: Update Homebrew Formula
        run: |
          sed -i "s|url \".*\"|url \"${{ env.SOURCE_URL }}\"|" Formula/netlas.rb
          sed -i "s|sha256 \".*\"|sha256 \"${{ env.SHA256 }}\"|" Formula/netlas.rb
      

      - name: Show local formula 
        run: |
          echo "======= Formula/netlas.rb"
          cat Formula/netlas.rb
          echo "======="

      - name: Git config  # Pre-step for TAP creating  
        run: |  
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
 
      - name: Show formula before update
        run: |
          TAP_DIR="$(brew --repository)/Library/Taps/${GITHUB_ACTOR}/homebrew-netlas"
          echo "=== Contents of netlas.rb before update ==="
          cat "$TAP_DIR/Formula/netlas.rb"
          echo "==========================================="

      - name: Create local TAP and copy formula
        run: |
          export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
          brew tap netlas-io/netlas

      - name: Install Python and update resources
        run: |
          export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
          TAP_DIR="$(brew --repository)/Library/Taps/${GITHUB_ACTOR}/homebrew-netlas"
          brew install python@${{ env.PYTHON_VERSION }}
          brew update-python-resources "$TAP_DIR/Formula/netlas.rb"
          cp "$TAP_DIR/Formula/netlas.rb" Formula/netlas.rb

      - name: Install Netlas Formula from TAP
        run: |
          export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
          TAP="${GITHUB_ACTOR}/netlas"
          brew install --build-from-source "$TAP/netlas"

      - name: Test Netlas Formula
        run: |
          export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
          brew test netlas

      - name: Commit and Push Changes
        run: |
          git add Formula/netlas.rb
          git commit -m "Update Homebrew formula to Netlas version ${{ env.LATEST_VERSION }}"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
